@model KursKayit

<p>
    <b>@Model.KayitId </b> numaral覺 kurs kayd覺n覺 silmek istiyor musunuz?

    <form asp-action="Delete" method="post">
        <input type="hidden"  name="id" value="@Model.KayitId">
        <button type="submit" class="btn btn-danger">Evet</button>
        <a asp-action="Index" class="btn btn-primary">Hay覺r</a>
    </form>
</p>