@model KursKayit


<p>
    <b>@Model.Ogrenci.AdSoyad </b>'nın kayıtlı olduğu <b>@Model.Kurs.Baslik </b>'nu silmek istiyor musunuz?

    <form asp-action="Delete" method="post">
        <input type="hidden"  name="id" value="@Model.KayitId">
        <button type="submit" class="btn btn-danger">Evet</button>
        <a asp-action="Index" class="btn btn-primary">Hayır</a>
    </form>
</p>